body {
  margin: 0 auto;
}

#wrapper {
 width: 100%;
 margin: 0 auto;
 padding: 180px 0 10px 0;
}

form {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.input {
  display: block;
  width: 400px;
  height: 50px;
  margin: 35px 0;
  font-size: 30px;
  border-radius: 5px;
}

textarea {
  display: block;
  width: 600px;
  height: 100px;
  margin: 35px 0;
  font-size: 30px;
  border-radius: 5px;
}

#save_button {
  display: block;
  width: 120px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #006f86;
  border: 3px solid #006f86;
  border-radius: 10px;
  cursor: pointer;
}
