body {
  margin: 0 auto;
  padding: 0;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 180px 0 100px 0;
}

form {
  width: 90%;
  margin: auto;
}

.error {
  font-size: 20px;
  color: #ff0000;
}

#message {
  margin-bottom: 50px;
  font-size: 25px;
}

#email {
  width: 400px;
  height: 50px;
  margin: 10px auto;
  font-size: 30px;
  border-radius: 5px;
}

#submit_button {
  width: 120px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #006f86;
  border: 3px solid #006f86;
  border-radius: 10px;
}
